<!-- <form [formGroup]="parentForm">

    <div formArrayName="fields">
      <div *ngFor="let field of parentForm.get('fields')['controls']; let i = index">
        <input type="text" [formControlName]="i">
      </div>
    </div>

  </form>
  <app-child (addField)="addMoreField($event)"></app-child>
   -->
<form [formGroup]="parentForm">
  <ng-container *ngFor="let field of formFields">
    <input type="text" [formControlName]="field">
  </ng-container>
</form>
<app-child (addField)="addField($event)"></app-child>